<div> <!-- dashboard controller -->
	<div class="col-xs-10 col-xs-offset-1">
		<div class="col-xs-12"><a href="#" class='bold'>Dashboard</a> | <a href="#/products">Products</a> | <a href="#/orders">Orders</a> | <a href="#/customers">Customers</a></div>
		<div class="col-xs-3 col-sm-2 border">
			<div class="form">
				<div class="form-group">
					<input type='text' class='form-control' placeholder='search...'>
				</div>
				<div class="form-group">
					<button type='submit' class='btn btn-default customer_btn'>Filter</button>
				</div>
			</div>
		</div>
		<div class="col-xs-9 col-sm-10 border">
			<div class="row">
				<div class="col-xs-12">

					<div class="col-xs-12">
						<a href="#/products" class='col-xs-2 col-xs-offset-5'>show more</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<label>Recent Orders</label>
					<div class="col-xs-12">
						<a href="#/orders" class='col-xs-2 col-xs-offset-5'>show more</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<label>New Customers</label>
					<div class="col-xs-12">
						<a href="#/customers" class='col-xs-2 col-xs-offset-5'>show more</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>