<div ng-controller='DashboardController'> 
	<div class="col-xs-10 col-xs-offset-1">
		<div class="col-xs-12"><a href="#" class='bold'>Dashboard</a> | <a href="#/products">Products</a> | <a href="#/orders">Orders</a> | <a href="#/customers">Customers</a></div>
		<div class="col-xs-3 col-sm-2">
			<div class="form">
				<div class="form-group">
					<input type='text' class='form-control' placeholder='search...' ng-model='filterName'>
				</div>
				<div class="form-group">
					<button type='submit' class='btn btn-default customer_btn'>Filter</button>
				</div>
			</div>
		</div>
		<div class="col-xs-9 col-sm-10">
			<div class="row">
				<div class="col-xs-12">
					<div class="product" ng-repeat='p in products | filter:filterName | limitTo: 8'>
						<img src="{{ p.url }}" height='100px' width='100px' alt='{{ p.name }}'>
						<div>
							<label>{{ p.name }}</label>
							<p>( {{ p.quantity }} left )</p>
						</div>
					</div>
					<a href="#/products" class='col-xs-12 show_more'>show more</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<label>Recent Orders</label>
					<p ng-repeat='o in orders | limitTo: 3'>{{ o.customer }} purchased {{ o.quantity }} {{ o.product }}(s)...</p>
					<a href="#/orders" class='col-xs-12 show_more'>show all orders</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<label>New Customers</label>
					<p ng-repeat='c in customers | limitTo: 3'>{{ c.name }} joined the store...</p>
					<a href="#/customers" class='col-xs-12 show_more'>show all customers</a>
				</div>
			</div>
		</div>
	</div>

</div>