body {
	background-color: rgb(250,250,250);
}
.container-fluid {min-width: 1000px; }
.customer_btn {float: right; } 
.table_div {
	max-height: 300px; 
	overflow: auto; 
}
.table {background-color: rgb(240,240,240);}
.bold {font-weight: bold; }
.error {
	text-align: center; 
	color: red;
}